<a href="https://colab.research.google.com/github/jeevitha16ds/jeevitha16ds/blob/main/SMOTE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#read data
data =  pd.read_excel('car_data1.xlsx', index_col=0)

In [ ]:
data

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [ ]:
data['class'].value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [ ]:
from sklearn.preprocessing import  LabelEncoder

In [ ]:
label = LabelEncoder()

In [ ]:
data1 = data.apply(label.fit_transform)

In [ ]:
data1

      buying  maint  doors  persons  lug_boot  safety  class
0          3      3      0        0         2       1      2
1          3      3      0        0         2       2      2
2          3      3      0        0         2       0      2
3          3      3      0        0         1       1      2
4          3      3      0        0         1       2      2
...      ...    ...    ...      ...       ...     ...    ...
1723       1      1      3        2         1       2      1
1724       1      1      3        2         1       0      3
1725       1      1      3        2         0       1      2
1726       1      1      3        2         0       2      1
1727       1      1      3        2         0       0      3

[1728 rows x 7 columns]

In [ ]:
data1['class'].value_counts()


X = data1.iloc[:,:-1]
y = data1.iloc[:,-1]

In [ ]:
pip install imblearn

Requirement already satisfied: imblearn in c:\users\dms39\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\dms39\anaconda3\lib\site-packages (from imblearn) (0.7.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\dms39\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.5.2)
Requirement already satisfied: joblib>=0.11 in c:\users\dms39\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.17.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\dms39\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.19.2)
Requirement already satisfied: scikit-learn>=0.23 in c:\users\dms39\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.23.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dms39\anaconda3\lib\site-packages (from scikit-learn>=0.23->imbalanced-learn->imblearn) (2.1.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=10)

In [ ]:
X_train.shape, y_train.shape , X_test.shape , y_test.shape

((1382, 6), (1382,), (346, 6), (346,))

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
model =  KNeighborsClassifier()  #initialize model
model.fit(X_train, y_train) #fit model
predicted  = model.predict(X_test)

In [ ]:
#import metrics


from sklearn.metrics import confusion_matrix, accuracy_score , f1_score

In [ ]:
confusion_matrix(y_true=y_test, y_pred=predicted)

array([[ 49,   2,  13,   0],
       [  3,  10,   0,   0],
       [  1,   0, 250,   0],
       [  2,   3,   2,  11]], dtype=int64)

In [ ]:
pd.crosstab(y_test, predicted)
#accuracy_score(y_test, predicted)

col_0   0   1    2   3
class
0      49   2   13   0
1       3  10    0   0
2       1   0  250   0
3       2   3    2  11

In [ ]:
from imblearn.over_sampling import SMOTE   #importing smote

In [ ]:
oversampling =  SMOTE() #initializing SMOTE

In [ ]:
X_train_over , y_train_over  = oversampling.fit_sample(X_train, y_train)

In [ ]:
X_train_over.shape, y_train_over.shape


print(y_train_over.value_counts())

3    959
1    959
2    959
0    959
Name: class, dtype: int64

In [ ]:
model.fit(X_train_over, y_train_over) #fit the oversampled data

KNeighborsClassifier()

In [ ]:
predicted_over = model.predict(X_test)

In [ ]:
pd.crosstab(y_test, predicted_over)

col_0   0   1    2   3
class
0      48  10    0   6
1       1  11    0   1
2      37  13  196   5
3       1   3    0  14

In [ ]:
accuracy_score(y_test, predicted_over)

0.7774566473988439